.ipynb_checkpoints
.minio.sys
.local
data/minio/images
data/minio/playground
config/sonador/dbmigrations/*
config/sonador/sonador.db
compose/visionaire.*.yaml
__pycache__
data/airflow/logs/*
data/totalsegmentator/*
