[Site-Config]
SITE_ID = 1	# ID for the currently active site (primary key of the domain in the Django sites framework)
SITE_HAME = 'imaging'	# Domain of the website
SECRET_KEY = '7aym(_quqz-op5eo#oit9y_zb71b@15)jc_l+lohhwu@x5x4b6'
INTERNAL_IPS = '*', 
ALLOWED_HOSTS = '*', 
LOG_LEVEL_ROOT = 'DEBUG'	# Level of log detail: DEBUG, INFO, ERROR
LOG_LEVEL_CONSOLE = 'DEBUG'	# Level of log detail to output to console: DEBUG, INFO, ERROR


[Site-Connection]
SITE_CONNECT_SCHEME = 'https' # Site connection scheme (production)
SITE_CONNECT_PORT = '' # If different from http/https defaults (80/443)
SITE_CONNECT_SCHEME_DEVEL = 'http' # Connection connection scheme (development)
SITE_CONNECT_PORT_DEVEL = '8070' # Connection port (development)
BASE_URL = 'http://imaging:8070'


[Localization]
TIME_ZONE = 'America/Denver'
LANGUAGE_CODE = 'en-us'


[Databases]
[[default]]
ENGINE = 'django.db.backends.sqlite3'
NAME = /srv/www/sonador/config/sonador.db


[Database-Migrations]
secure = dbmigrations.secure
wgtsocial = dbmigrations.wgtauth.social
wgtregistration = dbmigrations.wgtauth.registration
visionaire = dbmigrations.visionaire


[Authentication]
AUTH_ENABLED = True


[Resource-Files]
STATIC_ROOT = /srv/www/sonador/docroot/static/
MEDIA_ROOT = /srv/www/sonador/docroot/media/

