{
  "web":{
     "issuer":"https://example.com",

     "client_id":"<oidc-client-id>",
     "client_secret":"<oidc-client-secret>",
     "auth_uri":"https://example.com/oauth/authorize",
     "redirect_urls":[
        "<airflow-application-url>",
        "<airflow-application-url>/oidc_callback",
        "<airflow-application-url>/home",
        "<airflow-application-url>/login"
     ],

     "token_uri":"https://example.com/oauth/token",
     "userinfo_uri": "https://example.com/oauth/userinfo"
  }
}